<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="消息" icon="ion-chatboxes" href="#/app/informations">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="工作" icon="ion-ios-briefcase" href="#/app/works">
        <ion-nav-view name="about-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="联系人" icon="ion-android-contacts" href="#/app/contacts">
        <ion-nav-view name="contact-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我" icon="ion-person" href="#/app/me">
        <ion-nav-view name="contact-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>


